@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
#container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
#wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgb(1, 1, 120);
}
#title h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: monospace;
    color: #fff;
    position: relative;
    top:-20px;
}
#top {
    display: flex;
    justify-content: space-between;
    background: rgb(1, 1, 120);
    width: 100%;
    height:70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#top .mainSlide {
    position: relative;
    top: 10px;
    padding: 10px;
}
#bars_1 li,
#bars_2 li {
   width: 30px;
   height:3px;
   margin: 5px;
   background: #fff;
   border-radius: 5px;
   list-style: none;
}
#bars_1 li{
    transition: width 1s;
}
#bars_2 {
    display: none;
    /* visibility: hidden; */
    transition: width 1s;
}

/* ----  Body  ---- */
#body {
    position:relative;
    top:150px;
}
#futbolMid {
    display: flex;
    justify-content: center;
    font-size: 3em;
    border-radius: 5px;
}
#futbolMid #midTitle #fut {
    font-size: 5em;
    color: yellow;
}
#middle_Futbol {
    display: flex;
    flex-direction: column;
}

#futbolMid #middle_Futbol h1 {
    font-size: 2em;
    position: relative;
    top:20px;
}
#bolMas_1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top:20px;
    color:#ddd;
    
}
#futbolMid #bolMas_1 #bol_1 {
    position: relative;
    top:30px;
}
#futbolMid #bolMas_1 #mas_1 {
    position: relative;
    top:-20px;
    color: #ddd;
    margin:0;
    padding: 0;
}
#radio {
    position:relative;
    color: #ddd;
    top:-15px;
    display: flex;
    justify-content: center;
    
}
#leftLine,
#rightLine {
    width: 212px;
    height:2px;
    background: #cac8c8;
    position: relative;
    top:10px;
    margin: 0 5px;
    list-style: none;
    overflow: hidden;
}
#ball1,
#ball2 {
    width: 115px;
    height: 112px;
    background: #000;
    border-radius: 25px;
    position: relative;
    top:0px;
    animation:ballSlide1 3s infinite;
    overflow: hidden;
    
}

.radio_1 #ball1,
.radio_1 #ball2 {
    width: 15px;
    height: 2px;
    background: #fff;
    border-radius: 25px;
    position: relative;
    top:0px;
    display: block;
    animation:ballSlide1 3s infinite;
    overflow: hidden;
    
}
@keyframes ballSlide1 {
    from {left: 0;}
    to {left: 252px;}
}
/* ----- Drop Down Menu -----*/
#dropMenu {
    width: 100%;
    height: 0;
    background:rgb(1, 1, 200);
    position: absolute;
    top:70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    visibility: hidden;
    overflow: hidden;
}
#dropDownMenu {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: space-between;


}
#dropMenu #dropDownMenu #dropList li {
    font-size: 2em;
    margin-bottom: 10px;
    list-style: none;
    text-align: left;
    margin-bottom: 25px;    
}
#x_icon {
    font-size: 2em;
    position: relative;
    right:15px;
    color: #ddd;
}
#x_icon:hover {
    color: yellow;
    cursor: pointer;
}
 a:hover {
    color: yellow;
    font-size: 1em;;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}


/* ----- Slide Bar -----*/
#slideBar {
    height: 620px;
    position: absolute;
    top:70px;
    left:0;
    z-index: 1;
}
#futbolSlide {
    display: flex;
    justify-content: center;
}
#list {
    background: rgb(1, 1, 200);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 0;
    height:100%;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    transition: width 1s;
}
#slideTitle h1 {
    font-size: 4em;
    color: yellow;
    position: relative;
    top: 20px;
}
#bolMas_2 {
    position: relative;
    top: 28px;
    color: #ddd;
}
#bol2 {
    position: absolute;
    top:0px;
    
}
#mas2 {
    position: relative;
    top:20px;
}
#futbolSlide #bolMas_2 #bol_2 {
    position: absolute;
    top:20px;
    padding: 0;
}
#radio_2 {
    position:relative;
    color: #ddd;
    top:-215px;
    display: flex;
    justify-content: center;
}
#radio_2 .line {
    position: relative;
    top:8px;
    margin: 0 5px;
    width: 55px;
    height: 2px;
    background: rgb(105, 18, 18);
}
#leftList {
    display: flex;
    justify: space-between;
    position: relative;
    top: 45px;
    height: 100%;
}
#slideList div i,
#slideList #link div p {
    background: none;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 30px;
}
#slideList div i {
    position: relative;
    top: 5px;
    margin:20px 40px;
}
#link {
    position:relative;
    top: 23px;
}
#link div p {
    text-align: left;
    margin-bottom: 40px;
}
a {
    color: #ddd;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    #title h1 {
        font-size: 3em;
    }
    #futbolMid #midTitle #fut {
        font-size: 2.5em;
    }
    #futbolMid #middle_Futbol #bolMas_1 h1 {
        font-size: 1.1em;
        position: relative;
        top: -20px;
    }
    #futbolMid #middle_Futbol #bolMas_1 #bol_1 {
        position: relative;
        top: -5px;
    }
    #slideBar {
        display: none;
    }
    #leftLine,
    #rightLine {
    width: 112px;
    }
    
    #radio {
        position:relative;
        top:-5px;
      
    }
    #bars_1 {
        visibility: hidden;
    }
    #bars_2 {
        display: none;
        /* visibility: hidden; */
    }
    #dropMenu {
        display: block;
        height: 60%;
        visibility: visible;
        transition: height 1s;
    }
   
}